-- Tabla para almacenar datos de recetas de anteojos
CREATE TABLE public.consulta_anteojos (
    id_consulta_anteojos serial4 NOT NULL,
    id_consulta int4 NOT NULL,
    esfera_od varchar(50) NULL,
    cilindro_od varchar(50) NULL,
    eje_od varchar(50) NULL,
    dnp_od varchar(50) NULL,
    add_od varchar(50) NULL,
    nota_od text NULL,
    esfera_oi varchar(50) NULL,
    cilindro_oi varchar(50) NULL,
    eje_oi varchar(50) NULL, 
    dnp_oi varchar(50) NULL,
    add_oi varchar(50) NULL,
    nota_oi text NULL,
    dist_interpupilar varchar(50) NULL,
    altura_od varchar(50) NULL,
    altura_oi varchar(50) NULL,
    fecha_creacion timestamp NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT consulta_anteojos_pkey PRIMARY KEY (id_consulta_anteojos),
    CONSTRAINT fk_consulta_anteojos FOREIGN KEY (id_consulta) REFERENCES public.consultas(id_consulta) ON DELETE CASCADE
);
CREATE INDEX idx_consulta_anteojos ON public.consulta_anteojos USING btree (id_consulta);
